body {
    background-color: #FEFBF3;
    color: #2b2b2d;
}

hr {
    border-style: dotted none none;
    border-width: 5px;
    color: #9D9D9D;
    width: 5%;
}

h1, h3 {
    color: #79B4B7;
}

button {
    background-color: #6ba0a2;
    border-radius: 15px;
    border-style: none;
    color: white;
    cursor: pointer;
    transition-duration: .2s;
    padding: 10px 20px;
}

button:hover {
    background-color: #79B4B7;
    box-shadow: 3px 2px 11px rgba(43, 43, 45, 0.29);
}

a {
    color: inherit;
}